# Credentials & Secrets
api_key.txt
oracle_pw.txt

# Generated Data Spreadsheets
*.csv

# Python Cache & Configurations
__pycache__/
*.pyc

# Local IDE configuration
.vscode/

# Development & Temporary Files
script.sql